.loginFormContainer {
  background-image: url("/registro.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column; /* Cambio clave aquí */
  align-items: center; /* Alineación central vertical */
}

.formContainer input {
  margin-bottom: 15px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.inputGroup label {
  margin-bottom: 5px;
}
